[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
nltk = "*"
gensim = "*"
pyhanlp = "*"
py2neo = "*"
pyltp = "*"
elasticsearch = "*"
flask-httpauth = "*"
flask-sqlalchemy = "*"
pymysql = "*"
werkzeug = "*"
flask-login = "*"
flask-wtf = "*"
wtforms = "*"
flask-bootstrap = "*"
flask-moment = "*"
flask-openid = "*"
flask-mail = "*"
sqlalchemy-migrate = "*"
flask-whooshalchemy = "*"
flask-babel = "*"
guess-language = "*"
flipflop = "*"
coverage = "*"
jsonplus = "*"
flask-restful = "*"
flask-cors = "*"
gunicorn = "*"
pycrypto = "==2.6.1"
pyexecjs = "*"
jieba = "*"
stanfordcorenlp = "*"

[dev-packages]

[requires]
python_version = "3.6"
