[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
nltk = "*"
gensim = "*"
pyhanlp = "*"
"py2neo" = "*"
pyltp = "*"
elasticsearch = "*"
flask-httpauth = "*"

[dev-packages]

[requires]
python_version = "3.6"
